

      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="slotDeleteDlgLabel">User SignUp</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="signupVerificationForm" (ngSubmit)="saveUser()">
      
  
            <!-- <div class="form-group">
              <label for="firstName">First Name</label>
              <input 
                  formControlName="firstName"
                  id="firstName" 
                  type="text" 
                  class="form-control">
              <div *ngIf="f.firstName.touched && f.firstName.invalid" class="alert alert-danger">
                  <div *ngIf="f.firstName.errors.required">First Name is required.</div>
                  <div *ngIf="f.firstName.errors.firstName">Please, enter valid email address.</div>
              </div>
          </div> -->
          <!-- <div class="form-group">
            <label for="lastName">Last Name</label>
            <input 
                formControlName="lastName"
                id="lastName" 
                type="text" 
                class="form-control">
            <div *ngIf="f.lastName.touched && f.lastName.invalid" class="alert alert-danger">
                <div *ngIf="f.lastName.errors.required">Last Name is required.</div>
                <div *ngIf="f.lastName.errors.lastName">Please, enter valid email address.</div>
            </div>
        </div> -->
          <div class="form-group">
            <label for="email">Email</label>
            <input 
                formControlName="email"
                id="email" 
                type="text" 
                class="form-control">
            <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                <div *ngIf="f.email.errors.required">Email is required.</div>
                <div *ngIf="f.email.errors.email">Please, enter valid email address.</div>
            </div>
          </div>
            <!-- <div class="form-group">
              <label for="password">Password</label>
              <input 
                  formControlName="password"
                  id="password" 
                  type="password" 
                  class="form-control">
              <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                  <div *ngIf="f.password.errors.required">password is required.</div>
                  <div *ngIf="f.password.errors.minlength">password should be 3 character.</div>
              </div>
          </div> -->
          <!-- <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input 
                formControlName="confirmPassword"
                id="confirmPassword" 
                type="password" 
                class="form-control">
              <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert alert-danger">
                <div *ngIf="f.confirmPassword.errors.required">password is required.</div>
                <div *ngIf="f.confirmPassword.errors.minlength">password should be 3 character.</div>
            </div>
        </div> -->
        <!-- <div class="form-group">
          <label for="phone">Phone</label>
          <input 
              formControlName="phone"
              id="phone" 
              type="number" 
              class="form-control">
      </div> -->
            <button class="btn btn-primary" type="submit">Send Email</button>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="closeDialog()">Close</button>

          
        </div>
      </div>
